# Agentic Bench
AGENTIC_BENCH_MODEL_NAME=<text model name eg. "gpt-4o">
AGENTIC_BENCH_MODEL_BASE_URL=<text model base url eg. "https://api.openai.com/v1">
AGENTIC_BENCH_MODEL_API_KEY=<your text model API key>
AGENTIC_BENCH_SUPPORTED_EXECUTORS='["Docker", "Local"]'
AGENTIC_BENCH_EXECUTOR="Docker"

### Autoscrapper ###
AUTOSCRAPER_TEXT_MODEL=<text model name eg. "gpt-4o">
AUTOSCRAPER_TEXT_API_KEY=<your text model API key>
AUTOSCRAPER_TEXT_BASE_URL=<text model base url eg. "https://api.openai.com/v1">

# Screenshot Analysis Configuration
AUTOSCRAPER_SS_MODEL=<screenshot model name eg. "gpt-4o">
AUTOSCRAPER_SS_API_KEY=<your screenshot model API key>
AUTOSCRAPER_SS_BASE_URL=<screenshot model base url eg. "https://api.openai.com/v1">
# Google Search Configuration
GOOGLE_API_KEY=<your Custom Search json api>
GOOGLE_CX=<your google custom search engine id>

# Browser Configuration
BROWSER_STORAGE_DIR=<path to browser storage directory eg. "./browser_storage">

### Logging ###
LOGFIRE_TOKEN=<your logfire write token>
